/.vscode
/Assembly-CSharp.csproj
/Library
/Logs
/obj
/Packages
/Platformer movement.sln
/ProjectSettings
/Temp
/Assets/Matderials
/Assets/Scenes
.meta
Assets/major.png
Assets/major.kra.meta
Assets/major.kra
Assets/major.png.meta
Assets/Sprites/major.png
Assets/Sprites/major.kra
Assets/Sprites/major.kra.meta
Assets/Sprites/major.png.kra
Assets/Sprites/major.png.kra.meta
Assets/Sprites/major.png.meta
Assets/major.png~
Assets/Sprites.meta
Assets/Scripts/FollowPlayer.cs.meta
